{% load static %}
<!DOCTYPE html> 
<html lang = "ru">
	<head>
		<title>{% block title %}{% endblock %} </title>
		<link rel = "stylesheet" href = {% static 'pictures_home/style_css.css' %} type = "text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		

		<link rel="apple-touch-icon" sizes="57x57" href={% static "pictures_home/favicon/apple-icon-57x57.png" %}>
		<link rel="apple-touch-icon" sizes="60x60" href={% static "pictures_home/favicon/apple-icon-60x60.png" %}>
		<link rel="apple-touch-icon" sizes="72x72" href={% static "pictures_home/favicon/apple-icon-72x72.png" %}>
		<link rel="apple-touch-icon" sizes="76x76" href={% static "pictures_home/favicon/apple-icon-76x76.png" %}>
		<link rel="apple-touch-icon" sizes="114x114" href={% static "pictures_home/favicon/apple-icon-114x114.png" %}>
		<link rel="apple-touch-icon" sizes="120x120" href={% static "pictures_home/favicon/apple-icon-120x120.png" %}>
		<link rel="apple-touch-icon" sizes="144x144" href={% static "pictures_home/favicon/apple-icon-144x144.png" %}>
		<link rel="apple-touch-icon" sizes="152x152" href={% static "pictures_home/favicon/apple-icon-152x152.png" %}>
		<link rel="apple-touch-icon" sizes="180x180" href={% static "pictures_home/favicon/apple-icon-180x180.png" %}>
		<link rel="icon" type="image/png" sizes="192x192"  href={% static "pictures_home/favicon/android-icon-192x192.png" %}>
		<link rel="icon" type="image/png" sizes="32x32" href={% static "pictures_home/favicon/favicon-32x32.png" %}>
		<link rel="icon" type="image/png" sizes="96x96" href={% static "pictures_home/favicon/favicon-96x96.png" %}>
		<link rel="icon" type="image/png" sizes="16x16" href={% static "pictures_home/favicon/favicon-16x16.png" %}>
		<link rel="manifest" href={% static "pictures_home/favicon/manifest.json" %}>
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content={% static "pictures_home/favicon/ms-icon-144x144.png" %}>
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<header>
			<div class="header__logo"><img src = {% static 'pictures_home/pictures.png' %}></div>
			<div class="text_header_logo"><p>Картинки</p></div>
			<div class="search_bar">
				<form action = "{% url 'search_results' %}" method = "get">
				<input type = "text" name="q" type = "text" placeholder="Поиск по сайту...">
				<button class = "search" type="submit"></button>
				</form>
			</div>
			<nav>
				<div class = "topnav" id="myTopnav">
					<a href = "{% url 'home' %}">Главная</a>
					<a href = "{% url 'artists' %}">Художники</a>
					<a href = "{% url 'pictures'%}">Картины</a>
					<a href = "#" id="menu" class="icon">&#9776;</a>
				</div>
			</nav>
		</header>
		<div class="wrapper">
			<div class="content">
				
						{% block content %}

						{% endblock %}

				
			</div>
			<div class="footer">
				<p>Copyright © 2021 fsociety_art</p>
			</div>
		</div>
		<script type="text/javascript" src={% static "pictures_home/style_js.js"%}></script>

	</body>
</html>	